.page-header-fixed .page-container {
  margin-top:0px;
}

.about-header {
    height: 250px;
    background-image: url(/assets/pages/media/bg/4.jpg);
    background-position: center;
    margin: 0 -20px;
}

.about-header h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    margin-top: 30px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.page-content{
    margin-left: 195px;
    margin-top: 0;
    min-height: 600px;
    padding: 25px 20px 10px !important;
    overflow:auto;
}
.ajaxFormErrorContainer
{
	color:red;
}

.icon-logout
{
	margin-top:10PX;
	font-size:25px;
}

.inbox td.text-right {
    width: 200px !important;
}


#header_inbox_bar_link .badge-default
{
	background-color: #17C4BB;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    position: absolute;
    top: 17px;
    right: 9px;
    font-weight: 300;
    padding: 3px 6px;
}

.mt-checkbox-inlineBlock  .mt-checkbox-inline {
  padding: 0px 0;
  display: inline-block;
  margin-right: 10px;
}

#header_inbox_bar_link .badge-default
{
	background-color: #17C4BB;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    position: absolute;
    top: 17px;
    right: 9px;
    font-weight: 300;
    padding: 3px 6px;
}

#header_inbox_bar_link .badge-default
{
	background-color: #17C4BB;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    position: absolute;
    top: 17px;
    right: 9px;
    font-weight: 300;
    padding: 3px 6px;
}

#header_inbox_bar_link
{
	padding-bottom:24px;
}

#header_inbox_bar_link .icon-envelope-open
{
	font-size: 30px;
	    color: #C0CDDC;
	        top: 10px;
}

.paginationAllStats
{
	float: left;
    position: relative;
    padding-top: 8px;
    padding-left: 10px;
}

.selectBoxWithFilter label
{
  clear: both;
  display: block;
}



.selectBoxWithFilter .form-group
{
  width: 50%;
  float: left;
}

.black
{
	color: black;
}

#entityDatatable_wrapper .dataTables_paginate .paginate_button
{
	padding:0px !important;
}

#entityDatatable_wrapper .dataTables_info
{
	padding-top: 8px !important;
	vertical-align: top;
}



 #addNewEntryCont .checkbox
 {
 	    padding-left: 30px;
 	    display:inline-block;
 }


 #addNewEntryCont .checkbox
 {
 	    padding-left: 30px;
 	    display:inline-block;
 }

#addNewEntryCont .form-group {
	margin:0px !important;
}

.backbutton
{
 	float: left;
    margin-left: 25px;
    margin-top:2px;
}

 #dateOfTicketCont label
 {
 	clear:both;
 	display:block;
 }



 .tagsTicketCont .form-group
 {
   margin-bottom:0px;
 }

 .iFormTopLeft i
 {
   position: absolute;
   left: 15px;
 }

  .iFormTopLeft .mt-checkbox
{
  padding-left:25px;
}
 .iFormTopLeft label
 {
    padding-left:15px;
    clear: both;
    display: block;
 }


 .tagsTicketCont .checkbox
 {
 	display:inline-block;
 }

.tagsTicketCont label
 {
 	padding-left:20px;
 	margin-right: 10px;
 }


  .iFormTopLeft .mt-checkbox, .iFormTopLeft .mt-radio {
      margin:0px;
  }

  #newTicketForm textarea
  {
  	width:100%; height:100%;
  }

  .entryFormSubmitButtons .form-group
  {
    display:inline-block;
  }

  table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 15px !important;
    padding-left: 5px;
}

.iFormTopLeft .form-control {
    width: 100%;
    height: 24px;
    padding: 3px 3px;
}

  .portletAddEntry h3
  {
    margin:0px;
  }

  .input-daterange .input-group-addon {
     padding: 2px 5px !important;
 }
