<?php if(!isset($show)||$show==true):?>
<a id="backbuttonAction"   href="<?php echo $url;?>" class="btn blue backbutton"><i class="fa fa-arrow-left"></i> <?php if(isset($label)): echo $label; else: echo __('Back');endif;?> </a>
  <?php endif;?>