
<div class="row">
<div class="col-xs-12">
<div class="paginator">
<ul class="pagination">
<?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?> 
       		<li><div class="paginationAllStats" style="float:left;position:relative"><?= $this->Paginator->counter() ?></div></li>
        </ul>
    </div>
</div>
</div>   